<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAW60vUnYrfRAZQuFVSN9Wa7Sv8Y6MhJXE</string>
	<key>GCM_SENDER_ID</key>
	<string>244826495706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ricoloo.minimunFaceDetectorFlutter</string>
	<key>PROJECT_ID</key>
	<string>face-verification-test</string>
	<key>STORAGE_BUCKET</key>
	<string>face-verification-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244826495706:ios:0521ef1233525f76bfa3e3</string>
</dict>
</plist>